.body div {
    display: flex;
    flex-flow: column;
    height: 100%; }

.body {
    overflow-y: hidden;
  margin: 0 15px;
  padding-top: 15px;
}

.full-width {
    margin: 10px; }


.person {
  font-size: 10em;
  height: auto;
  width: auto;
  display: flex;
  margin: 0 auto;
}
