.body div {
    display: flex;
    flex-flow: column;
    height: 100%; }

.body {
    overflow-y: hidden; }

.full-width {
    margin: 10px; }

.mat-button {
    background: '#c131ed';
    color: white; }
