<!--The content below is only a placeholder and can be replaced.-->

<mat-toolbar color="primary">
  <button mat-button  *ngIf="profile" class="menu_icon"
          (click)="hideProfile()"><mat-icon>arrow_back_ios</mat-icon></button>
  <span>My Application</span>

  <span class="fill-remaining-space"></span>
  <button mat-button  *ngIf="loggedIn" (click)="showProfile()"><mat-icon>person
  </mat-icon></button>
  <button mat-button class="menu_icon" *ngIf="loggedIn"
          [matMenuTriggerFor]="menu" ><mat-icon>more_vert
  </mat-icon></button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Settings</button>
    <button mat-menu-item (click)="logout(userSession)" >Logout</button>
  </mat-menu>
</mat-toolbar>
<div class="mat-app-background">
    <app-login *ngIf="!loggedIn" [(userSession)]="userSession"
               [(loggedIn)]="loggedIn" [(user)]="user"></app-login>
    <app-root *ngIf="loggedIn && !profile" [(userSession)]="userSession"
              [(user)]="user"></app-root>
    <app-profile *ngIf="loggedIn && profile"></app-profile>
</div>
