<h5 class="body">ACCOUNTS</h5>
<div class="body">
  <mat-accordion>

    <mat-expansion-panel [hideToggle]="true" *ngFor="let acc of accounts">
      <mat-expansion-panel-header >
        {{ acc['nickname'] }} <span class="fill-remaining-space"></span>
        <span class="big-size">$ {{ acc['balance']['amount'] }}</span>
      </mat-expansion-panel-header>

      <div class="flexer">{{ acc['accountName'] }} <span
        class="small-font">({{ acc['accountNumber'] }})
      </span><span
        class="fill-remaining-space"></span><mat-icon
        color="accent">check_circle</mat-icon></div>

    </mat-expansion-panel>

  </mat-accordion>
</div>


<mat-divider>Holdings</mat-divider>
<h5 class="body">HOLDINGS</h5>
<div class="body" *ngFor="let element of array">
    <mat-expansion-panel [hideToggle]="true">
      <mat-expansion-panel-header class="flexer">
          <span class="holding-name">
              {{element['description']}}
          </span>
          <mat-chip-list class="left-space">
              <mat-chip color="primary" selected>{{element['quantity'] | number: '1.0-0'}}</mat-chip>
            </mat-chip-list> 
        <span class="fill-remaining-space"></span>
        <mat-chip-list>
          <mat-chip color="accent" selected>${{element['price']['amount'] | number: '1.2-2'}}</mat-chip>
        </mat-chip-list>
      </mat-expansion-panel-header>
      <div class="holding-info">
        <em>Quantity Ownned</em> : {{element['quantity'] | number: '1.0-0'}}
      </div>
      <div class="holding-info">
        <em>Per Unit Price</em> : ${{element['price']['amount'] | number: '1.2-2'}}
      </div>

    <div class="holding-info">
        <em>Total Value</em> : ${{element['value']['amount'] | number: '1.2-2'}}
      </div>

    </mat-expansion-panel>
</div>
