<div class="body" *ngFor="let element of array">
    <mat-card>
        <div class="card-row">
            {{element['description']['simple']}}
            <span class="fill-remaining-space"></span>
            ${{element['amount']['amount'] | number: '1.2-2'}}
        </div>

        <div class="card-row small-font">
            {{element['createdDate'] | date: 'mediumDate'}} 
            <span class="fill-remaining-space"></span>
            ${{element['runningBalance']['amount'] | number: '1.2-2'}}

        </div>
    </mat-card>
</div>
